<%- include('partials/_header') -%>


  <body>

    <!-- Navigation -->

    <%- include('partials/_nav') -%>

      <!-- Page Header -->
      <header class="masthead" style="background-image: url('https://picsum.photos/200/300/?blur')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">

                <h2 class="subheading">
                  <%= post.title %>
                </h2>
                <span class="meta">Created
                  <a href="#"></a>
                  on <%= post.dateCreated %></span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Post Content -->
      <article>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">


              <p>
                <%= post.detail %>
              </p>



            </div>
          </div>
        </div>
      </article>

      <hr>

      <div class="d-flex justify-content-center btn-group text-center">

        <a href="/posts/edit/<%= post.id %> "><button
            class="btn btn-primary mr-5 w-100"><span>Edit</span></button></a>

        <a href="/posts/<%= post._id %>?_method=DELETE"><button class="btn btn-danger w-100"
            onclick="return confirm(' This action is irreversible, are you sure?')"><span>Delete
              Post</span></button></a>

      </div>

      <!-- Footer -->
      <%- include('partials/_footer') -%>

        <!-- Bootstrap core JavaScript -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="/js/clean-blog.min.js"></script>

  </body>

  </html>